{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Agrega aquí tus estilos adicionales si es necesario -->
    <style>
        /* Estilos adicionales */
        .navbar {
            background-color: #343a40; /* Cambia el color de fondo de la barra de navegación */
        }
        .navbar-nav .nav-link {
            color: #ffffff !important; /* Cambia el color del texto de los enlaces del menú */
        }
        .nav-item.dropdown .dropdown-menu {
            background-color: #343a40; /* Cambia el color de fondo del menú desplegable */
        }
        .nav-item.dropdown .dropdown-menu .dropdown-item {
            color: #ffffff !important; /* Cambia el color del texto de los elementos del menú desplegable */
        }
        .nav-item.dropdown .dropdown-menu .dropdown-divider {
            border-top-color: #ffffff; /* Cambia el color del divisor del menú desplegable */
        }
        .navbar-toggler-icon {
            background-color: #ffffff; /* Cambia el color del icono del botón de navegación */
        }
        .navbar-toggler {
            border-color: #ffffff; /* Cambia el color del borde del botón de navegación */
        }
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home:index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'core:list_u' %}">Users List</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:create_u' %}">New User</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:list_up' %}">Pending Users</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:list_upr' %}">Pending Resolved Users</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:list_upnr' %}">Pending Not Resolved Users</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            To Do
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'core:list_t' %}">ToDo List</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:create_t' %}">New ToDo</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:list_tp' %}">Pending ToDo</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:list_tidt' %}">Pending Titles</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:list_tidtp' %}">Not Resolved Titles</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:list_tidtpr' %}">Pending Resolved Titles</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-right mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">{{ request.user }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container mt-4">
    {% block content %}
    {% endblock content %}
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>