{% extends "base/base.html" %}

{% block title %}USUARIOS LIST VIEW{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'core:create_u' %}" class="btn btn-outline-success form-control">New User</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>USERNAME</th>
        </thead>
        <tbody>
            {% for u in object_list %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }} </td>
                    <td><a href="{% url 'core:update_u' u.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_u' u.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
