{% extends "base/base.html" %}

{% block title %}TODO PENDING NOT RESOLVED LIST VIEW{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'core:create_t' %}" class="btn btn-outline-success form-control">New ToDo</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>TITLE</th>

        </thead>
        <tbody>
            {% for tidtp in object_list %}
                <tr>
                    <td>{{ tidtp.id }}</td>
                    <td>{{ tidtp.title }}</td>

                    <td><a href="{% url 'core:update_t' tidtp.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_t' tidtp.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
