{% extends "base/base.html" %}

{% block title %}PENDING RESOLVED USERS LIST VIEW{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'core:create_u' %}" class="btn btn-outline-success form-control">New User</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>USERNAME</th>
        </thead>
        <tbody>
            {% for upr in object_list %}
                <tr>
                    <td>{{ upr.id }}</td>
                    <td>{{ upr.user }}</td>
                    <td><a href="{% url 'core:update_t' upr.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_t' upr.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
