{% extends "base/base.html" %}

{% block title %}TODO PENDING LIST VIEW{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'core:create_t' %}" class="btn btn-outline-success form-control">New ToDo</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>

        </thead>
        <tbody>
            {% for tp in object_list %}
                <tr>
                    <td>{{ tp.id }}</td>

                    <td><a href="{% url 'core:update_t' tp.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_t' tp.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
