{% extends "base/base.html" %}

{% block title %}TODO LIST VIEW{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'core:create_t' %}" class="btn btn-outline-success form-control">New ToDo</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>TITLE</th>
            <th>USER</th>
            <th>PENDING</th>
            <th>RESOLVED</th>
        </thead>
        <tbody>
            {% for t in object_list %}
                <tr>
                    <td>{{ t.id }}</td>
                    <td>{{ t.title }}</td>
                    <td>{{ t.user }}</td>
                    <td>{{ t.pending }}</td>
                    <td>{{ t.resolved }}</td>
                    <td><a href="{% url 'core:update_t' t.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_t' t.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
